/* styles.css */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .menu {
    display: flex;
    gap: 1rem;
  }
  
  .hamburger {
    display: none;
    cursor: pointer; /* Add cursor style to indicate clickability */
  }
  
  .active {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .hamburger {
      display: block;
    }
  }
  