.blog_container_title {
  text-align: center;
  font-family: Monserrat700;
  font-size: 40px;

  @media (min-width: 1200px) {
    font-family: Spectral800;
    font-size: 80px;
  }
}

.blog_container_subtitle {
  text-align: center;
  text-transform: uppercase;
  font-family: Spectral700;
  font-size: 17px;
}

.blog_container_posts {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
  }
}