.productpage_container {
  display: flex;
  flex-direction: column;
}

.productpage_shopcards {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.productpage_shopcards_first {
  width: 510px;
  height: 300px;
  background-color: #edd99c;
}

.productpage_shopcards_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.shopcards_info_message {
  font-family: Monserrat700;
  font-size: 14px;
  color: #e77c40;
}

.shopcards_info_category {
  font-family: Spectral800;
  font-size: 44px;
  color: #252b42;
}

.productpage_shopcards_second {
  width: 510px;
  height: 300px;
  background-color: #dbebf8;
}

.productpage_shopcards_img {
  display: flex;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.product_card {
  padding: 10px;
  max-width: 300px;
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
