.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}
.logo {
  a {
    font-family: Spectral700;
    font-size: 26px;
    color: #252b42;
    text-decoration: none;
  }
}

.menulinks {
  ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    li {
      list-style: none;
      a {
        color: #737373;

        text-decoration: none;
      }
    }
  }
}

.logreg {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  a {
    text-decoration: none;
  }
}
